<div class="margined">

<%= form_tag '/products', method: :post do %>
  <p>Name: <input type="text" name="name"></p>
  <p>Price: <input type="text" name="price"></p>
  <p>Image: <input type="text" name="image_url"></p>
  <p><button type="submit" class="btn btn-sm btn-primary">Submit</button></p>
<% end %>

</div>